{% extends './base.html' %} {% block title %}Home{% endblock %} {% block
customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
{% endblock %} {% block body %}
<header>
  <div class="linea-verde"></div>
  <div class="contenedor-imagen">
    <img src="../static/img/logouttn.png" alt="Imagen" />
  </div>
  <ul class="navbar-nav ml-auto ml-md-0" style="position: absolute; right: .5cm;">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;"><i class="fas fa-user fa-fw"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#"></a><a class="dropdown-item" href="#">{{ current_user.fullname }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
        </div>
    </li>
</ul>
</header>
{% if current_user.user_type == 'Maestro' %}
<main class="mycards">
  <div class="cards">
    <div class="face front">
      <img src="../static/img/tecinfo.png" alt="" />
      <div class="info">
        <h2>TSU</h2>
        <p>Planeaciones Digitales</p>
      </div>
    </div>
    <div class="face back">
      <div class="entornos" id="targetOne">
        <h2>Entornos Virtuales</h2>
      </div>
      <div class="desarrollo" id="targetThree">
        <h2>Desarrollo de software</h2>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="face front">
      <img src="../static/img/ingeinfor.png" alt="" />
      <div class="info">
        <h2>Ingenieria</h2>
        <p>Planeaciones Digitales</p>
      </div>
    </div>
    <div class="face back">
      <div class="entornos" id="">
        <h2>Entornos Virtuales</h2>
      </div>
      <div class="desarrollo" id="">
        <h2>Desarrollo de software</h2>
      </div>
    </div>
  </div>
</main>
{% else %}
<main class="mycards">
  <div class="cards">
    <div class="face front">
      <img src="../static/img/tecinfo.png" alt="" />
      <div class="info">
        <h2>TSU</h2>
        <p>Planeaciones Digitales</p>
      </div>
    </div>
    <div class="face back">
      <div class="entornos" id="adminTagone">
        <h2>Entornos Virtuales</h2>
      </div>
      <div class="desarrollo" id="adminTagonethree">
        <h2>Desarrollo de software</h2>
      </div>
    </div>
  </div>
  <div class="cards">
    <div class="face front">
      <img src="../static/img/ingeinfor.png" alt="" />
      <div class="info">
        <h2>Ingenieria</h2>
        <p>Planeaciones Digitales</p>
      </div>
    </div>
    <div class="face back">
      <div class="entornos" id="adminTagone">
        <h2>Entornos Virtuales</h2>
      </div>
      <div class="desarrollo" id="adminTagonethree">
        <h2>Desarrollo de software</h2>
      </div>
    </div>
  </div>
</main>

{% endif %}
<footer>
  <p>© <span id="year"></span> Universidad Tecnologica de Tamaulipas Norte.</p>
</footer>
<!--PARTE DEL ADIMN-->
<script>
  var tsu = document.querySelector("#targetOne");
  var ing = document.querySelector("#targetThree");

  tsu.addEventListener("click", () => {
    window.location = "home_user";
  });
  ing.addEventListener("click", () => {
    window.location = "home_user";
  });
</script>
<!--PARTE DEL MAESTRO-->
<script>
  var tsu = document.querySelector("#adminTagone");
  var ing = document.querySelector("#adminTagonethree");

  tsu.addEventListener("click", () => {
    window.location = "home_admin";
  });
  ing.addEventListener("click", () => {
    window.location = "home_admin";
  });
</script>



{% endblock %}
