{% extends './base.html' %} {% block title %}Home{% endblock %} {% block
  customCSS %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/user.css') }}"
  />
  {% endblock %} {% block body %}
  <nav class="sb-topnav navbar navbar-expand navbar-dark">
    <a class="navbar-brand" href="index.html"><h1 class="logotipo">UTTN</h1></a>
    <button
      class="btn btn-link btn-sm order-1 order-lg-0"
      id="sidebarToggle"
      href="#"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    <!--<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>-->
    <!-- Navbar-->
    <ul
      class="navbar-nav ml-auto ml-md-0"
      style="position: absolute; right: 0.5cm"
    >
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="userDropdown"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="fas fa-user fa-fw"></i
        ></a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="userDropdown"
        >
          <a class="dropdown-item" href="#"><b>{{current_user.fullname}}</b></a
          ><a class="dropdown-item" href="#"><b>{{current_user.user_type}}</b></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <a class="nav-link" href=""
              ><div class="sb-nav-link-icon">
                <i class="fa-solid fa-chalkboard-user"></i>
              </div>
              Inicio</a
            >
            <a class="nav-link" href="#"
            ><div class="sb-nav-link-icon">
              <i class="fa-solid fa-chalkboard-user"></i>
            </div>
            Planeaiones</a
          >
          </div>
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <div class="filter-sh">
        <div class="icons">
          <i class="fa-solid fa-plus"></i>
          <i class="fa-solid fa-arrow-down-wide-short"></i>
        </div>
        <div>
          <div class="search-container">
            <input type="text" placeholder="Buscar">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>        
        </div>
     </div>
      <main>
        <div class="cards">
          <div class="face front">
            <img src="../static/img/demo.png" alt="" />
            <div class="info">
              <h2 class="h2">Algebra lineal</h2>
              <p>Planeacion Digital</p>
            </div>
          </div>
          <div class="face back">
            <div class="entornos" id="targetOne">
              <h2>Informacion</h2>
            </div>
            <div class="desarrollo" id="targetThree">
              <button><i class="fa-solid fa-pen-to-square"></i></button>
              <button><i class="fa-solid fa-eye"></i></button>
            </div>
          </div>
        </div>
      </main>
      <footer class="Myfooter">
        <p>© <span id="year"></span> Universidad Tecnologica de Tamaulipas Norte.</p>
      </footer>
    </div>
  </div>
  
  {% endblock %}
  